/* Imports */
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand+SC');

/* Functions & Vars */
@function multiple-box-shadow ($n) {
  $value: '#{random(200)}vw #{random(400)}vh #FFF';
  @for $i from 2 through $n {
    $value: '#{$value} , #{random(200)}vw #{random(400)}vh #FFF';
  }
  @return unquote($value);
}

@mixin stars($starSize, $totalStars, $animateSpeed){
  width: $starSize;
  height: $starSize;
  background: transparent;
  box-shadow: multiple-box-shadow($totalStars);
  transform: translateY(-400vh);
  //animation: animateStars $animateSpeed linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 100vh;
    width: $starSize;
    height: $starSize;
    background: transparent;
    box-shadow: multiple-box-shadow($totalStars);
  }
}

@mixin turnOn($speed, $delay){
  opacity: 0;
  animation: turnOn $speed ease forwards;
  animation-delay: $delay;
}

@mixin breakpoint($point) {
  @if $point == large {
    @media (min-width: 769px) { @content; }
  }
  @else if $point == medium {
    @media (max-width: 768px) { @content; }
  }
  @else if $point == small {
    @media (max-width: 480px) { @content; }
  }
}

$pink: #ff00e4;
$blue: #00baff;
$ease-out-quint: cubic-bezier(0.230, 1.000, 0.320, 1.000);
$ease-in-quint: cubic-bezier(0.755, 0.050, 0.855, 0.060);


/* Animations */
/*@keyframes animateStars{
  from { transform: translateY(-400vh) }
  to { transform: translateY(-50vh) }
}*/

/*@keyframes verticalFloat{
  0% {bottom: 5%;}
  50% {bottom: 10%;}
  100% {bottom: 5%;}
}*/

/*@keyframes floatUp{
  from {
    transform: translateY(115%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}*/

/*@keyframes floatDown{
  from {
    transform: translateY(-125%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}*/

/*@keyframes turnOn{
  from { opacity:0; }
  to { opacity:1; }
}*/

@keyframes flash{
  0% { opacity:0; }
  15% { opacity:1; }
  30% { opacity:0; }
  45% { opacity:1; }
  60% { opacity:0; }
  75% { opacity:1; }
  100% { opacity:0; }
}


/* Overrides & General */
html, body{
  margin: 0;
  height: 100%;
  width: 100%;
  background: radial-gradient(ellipse at top, #242424 0%, #000 100%);
  overflow: hidden;
  color: white;
  font-family: arial, sans-serif;
  text-align: center;

  // scanlines
  &::before{
      content:" ";
      display:block;
      position:absolute;
      top:0;
      left:0;
      bottom:0;
      right:0;
      background:linear-gradient(transparentize(#000,1) 50%, transparentize(darken(#000,10),0.75) 50%), linear-gradient(90deg,transparentize(#ff0000,0.94),transparentize(#00ff00,0.98),transparentize(#0000ff,0.94));
      z-index:2;
      background-size:100% 2px, 3px 100%;
      pointer-events:none;
  }

  @include breakpoint(medium){
    overflow: scroll;
  }
}

body{
  opacity: 0;
  //@include turnOn(4s, 0);
}

section{
  margin-bottom: 20px;
}

textarea, input, button { outline: none; }

p{

  strong{
    color: $blue;
  }
}



input[type=button] {
  transition: opacity .2s ease;

  &:disabled {
    opacity: 0.25;
    cursor: default;
  }
}

.digital{
  font-family: 'Press Start 2P', cursive;
}

.mobile{ display: none; }
@include breakpoint(medium){
  .mobile{ display: block; }
  .desktop{ display: none; }
}


/* Stars */
#stars-1{ @include stars(1px, 300, 50s); }
#stars-2{ @include stars(2px, 200, 100s); }
#stars-3{ @include stars(3px, 100, 150s); }


/* Header & Footer */
header{
  position: relative;
  z-index: 1;

  #logo{
    display: block;
    margin: 0 auto;
    max-width: 90vw;
    max-height: 35vh;
    opacity: 0;
    //animation: floatDown 4s ease;
  }
}

footer{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 25%;
  background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1));
  font-size: .9em;
  padding: .3em 1em;
  text-align: right;

  @include breakpoint(medium){
    width: 100%;
  }
}


/* Cartridge */
#cartridge{
  position: absolute;
  bottom: 5%;
  right: 5%;
  width: 10%;
  cursor: pointer;
  opacity: 0;
  z-index: 3;
  //animation: verticalFloat 3s ease infinite, floatUp 3s ease forwards;
  //animation-delay: 5s, 2.5s;

  &:hover{
    //animation-play-state: paused;

    &:after{
      content: "Want to play on real hardware? Click to download the NES ROM developed by KHAN Games!";
      font-family: 'Patrick Hand SC', cursive;
      position: absolute;
      top: -100px;
      right: 0;
      animation: floatUp .5s forwards ease;
      width: 200px;
      z-index: -1;
    }
  }

  img{
    display: block;
    width: 100%;
    transition: transform .5s ease;

    &:hover {
      transform: scale(1.2);
      animation-play-state: paused;
    }
  }
}


/* Options */
#options{
  margin-bottom: 1em;
  font-size: 1.5em;
  color: $pink;
  cursor: default;
  opacity: 0;
  //@include turnOn(1s, 3.5s);

  input[type=button]{
    text-transform: uppercase;
    background: none;
    border: none;
    color: $pink;
    text-decoration: none;
    font-style: italic;
    font-size: 1em;
    cursor: pointer;
    transition: color .2s ease, opacity .2s ease;

    &:disabled{
      opacity: 0.25;
      cursor: default;
    }

    &:not(:disabled):hover{
      color: $blue;
    }

    &.active{
      color: $blue;
      cursor: default
    }

    @include breakpoint(medium){
      font-size: .8em;
    }
  }
}


/* Wrapper (Game, Leaderboard, About) */
.wrapper{
  position: relative;
  width: 100%;

  section{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: opacity 1s ease, transform 1s ease;

    &.active{
      z-index: 3;
    }

    &:not(.active){
      transform: translateY(100%);
      opacity: 0;
      height: 0;
      z-index: -1;
    }


    /* About */
    &#about{
      width: 1024px;
      max-width: 95%;
      margin: 0 auto;
      position: relative;
      text-align: left;
      pointer-events: none;
    }


    /* Support */
    &#support{
      width: 1024px;
      max-width: 95%;
      margin: 0 auto;
      position: relative;
      text-align: left;

      a{
        color: $blue;
      }
    }


    /* Game */
    &#game{
      z-index: 3;

      #timer{
        font-size: 7vw;
        opacity: 0;
        //@include turnOn(1s, 4s);
      }

      #score{
        font-size: 6vw;
        opacity: 0;
        //@include turnOn(1s, 4.5s);
      }

      #share{
        display: none;

        a{
          text-decoration: none;

          img{
            opacity: 0.7;
            transition: opacity .2s ease, transform .2s ease;

            &:hover{
              opacity: 1;
              transform: scale(1.1);
            }
          }
        }
      }

      #username input[type=text]{
        background: transparent;
        text-align: center;
        border: 0;
        color: white;
        font-size: 2em;
        margin-top: 20px;

        &:disabled{
          opacity: 0;
        }
      }

      #errors{
        display: none;
        color: $pink;
        font-size: 1.3em;
        animation: flash 3s linear infinite;
      }

      @include breakpoint(medium){

        #timer{
          font-size: 12vw;
          margin-bottom: 10px;
        }
        #score{
          font-size: 10vw;
          margin-bottom: 10px;
        }
        #username input[type=text]{
          font-size: 8vw;
          width: 100%;
        }

        #tap{
          width: 100%;
          opacity: 0;
          //@include turnOn(1s, 5s);

          .tap-button{
            position: absolute;
            font-size: 2em;
            line-height: 2em;
            color: white;
            border: none;
            border-radius: 50%;
            padding: 0 .7em;

            &:first-of-type{
              left: 10%;
              background: $pink;
            }

            &:last-of-type{
              right: 10%;
              background: $blue;
            }
          }
        }
      }
    }


    /* Leaderboard */
    &#leaderboard{

      #daily-highscore{
        text-transform: uppercase;
      }

      table{
        display: inline-block;
        vertical-align: top;
        margin: 0 20px 20px 20px;
        width: 250px;

        th, td{
          text-align: left;
          text-transform: uppercase;
        }
      }
    }
  }
}


// Hide the score form
#score-form-hidden{
  position: absolute;
  top: 0;
  left: -9999px;
}