/* Imports */
@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
@import url("https://fonts.googleapis.com/css?family=Patrick+Hand+SC");
/* Functions & Vars */
/* Animations */
@keyframes animateStars {
  from {
    transform: translateY(-400vh); }
  to {
    transform: translateY(-50vh); } }
@keyframes verticalFloat {
  0% {
    bottom: 5%; }
  50% {
    bottom: 10%; }
  100% {
    bottom: 5%; } }
@keyframes floatUp {
  from {
    transform: translateY(115%);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }
@keyframes floatDown {
  from {
    transform: translateY(-125%);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }
@keyframes turnOn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes flash {
  0% {
    opacity: 0; }
  15% {
    opacity: 1; }
  30% {
    opacity: 0; }
  45% {
    opacity: 1; }
  60% {
    opacity: 0; }
  75% {
    opacity: 1; }
  100% {
    opacity: 0; } }
/* Overrides & General */
html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  background: radial-gradient(ellipse at top, #242424 0%, #000 100%);
  overflow: hidden;
  color: white;
  font-family: arial, sans-serif;
  text-align: center; }
  html::before, body::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(transparent 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none; }
  @media (max-width: 768px) {
    html, body {
      overflow: scroll; } }

body {
  opacity: 0;
  opacity: 0;
  animation: turnOn 4s ease forwards;
  animation-delay: 0; }

section {
  margin-bottom: 20px; }

textarea, input, button {
  outline: none; }

p strong {
  color: #00baff; }

input[type=button] {
  transition: opacity .2s ease; }
  input[type=button]:disabled {
    opacity: 0.25;
    cursor: default; }

.digital {
  font-family: 'Press Start 2P', cursive; }

.mobile {
  display: none; }

@media (max-width: 768px) {
  .mobile {
    display: block; }

  .desktop {
    display: none; } }
/* Stars */
#stars-1 {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 54vw 245vh #FFF , 168vw 54vh #FFF , 13vw 46vh #FFF , 139vw 95vh #FFF , 43vw 257vh #FFF , 112vw 82vh #FFF , 60vw 92vh #FFF , 155vw 231vh #FFF , 66vw 1vh #FFF , 11vw 75vh #FFF , 36vw 217vh #FFF , 111vw 25vh #FFF , 19vw 260vh #FFF , 65vw 295vh #FFF , 49vw 123vh #FFF , 31vw 176vh #FFF , 10vw 369vh #FFF , 135vw 344vh #FFF , 70vw 217vh #FFF , 156vw 153vh #FFF , 184vw 325vh #FFF , 7vw 263vh #FFF , 84vw 120vh #FFF , 130vw 275vh #FFF , 117vw 94vh #FFF , 172vw 392vh #FFF , 154vw 1vh #FFF , 179vw 241vh #FFF , 33vw 352vh #FFF , 13vw 371vh #FFF , 91vw 69vh #FFF , 159vw 196vh #FFF , 61vw 5vh #FFF , 161vw 319vh #FFF , 150vw 206vh #FFF , 145vw 243vh #FFF , 158vw 385vh #FFF , 9vw 131vh #FFF , 50vw 296vh #FFF , 167vw 10vh #FFF , 39vw 121vh #FFF , 48vw 222vh #FFF , 118vw 19vh #FFF , 126vw 294vh #FFF , 22vw 203vh #FFF , 39vw 67vh #FFF , 180vw 216vh #FFF , 191vw 163vh #FFF , 129vw 93vh #FFF , 177vw 130vh #FFF , 182vw 286vh #FFF , 13vw 211vh #FFF , 153vw 200vh #FFF , 41vw 198vh #FFF , 56vw 228vh #FFF , 122vw 142vh #FFF , 97vw 314vh #FFF , 22vw 111vh #FFF , 136vw 202vh #FFF , 116vw 104vh #FFF , 179vw 137vh #FFF , 127vw 33vh #FFF , 108vw 11vh #FFF , 103vw 162vh #FFF , 173vw 390vh #FFF , 36vw 113vh #FFF , 90vw 308vh #FFF , 111vw 377vh #FFF , 52vw 75vh #FFF , 39vw 40vh #FFF , 20vw 141vh #FFF , 67vw 338vh #FFF , 79vw 313vh #FFF , 51vw 256vh #FFF , 71vw 63vh #FFF , 105vw 164vh #FFF , 11vw 30vh #FFF , 24vw 104vh #FFF , 52vw 329vh #FFF , 84vw 355vh #FFF , 153vw 254vh #FFF , 62vw 97vh #FFF , 23vw 160vh #FFF , 77vw 388vh #FFF , 117vw 169vh #FFF , 183vw 5vh #FFF , 6vw 280vh #FFF , 127vw 223vh #FFF , 62vw 167vh #FFF , 169vw 388vh #FFF , 42vw 41vh #FFF , 1vw 10vh #FFF , 21vw 130vh #FFF , 5vw 148vh #FFF , 39vw 372vh #FFF , 17vw 339vh #FFF , 124vw 237vh #FFF , 33vw 380vh #FFF , 198vw 206vh #FFF , 6vw 221vh #FFF , 53vw 392vh #FFF , 166vw 108vh #FFF , 193vw 301vh #FFF , 148vw 138vh #FFF , 176vw 368vh #FFF , 19vw 319vh #FFF , 112vw 11vh #FFF , 3vw 143vh #FFF , 34vw 87vh #FFF , 68vw 304vh #FFF , 103vw 370vh #FFF , 69vw 224vh #FFF , 163vw 201vh #FFF , 61vw 303vh #FFF , 46vw 393vh #FFF , 178vw 108vh #FFF , 113vw 338vh #FFF , 125vw 346vh #FFF , 48vw 328vh #FFF , 173vw 315vh #FFF , 147vw 144vh #FFF , 125vw 267vh #FFF , 30vw 368vh #FFF , 1vw 16vh #FFF , 167vw 128vh #FFF , 104vw 9vh #FFF , 75vw 75vh #FFF , 56vw 290vh #FFF , 166vw 374vh #FFF , 136vw 219vh #FFF , 127vw 111vh #FFF , 14vw 285vh #FFF , 72vw 91vh #FFF , 145vw 173vh #FFF , 12vw 329vh #FFF , 60vw 177vh #FFF , 26vw 243vh #FFF , 2vw 20vh #FFF , 186vw 197vh #FFF , 174vw 258vh #FFF , 183vw 73vh #FFF , 142vw 400vh #FFF , 83vw 396vh #FFF , 115vw 137vh #FFF , 2vw 400vh #FFF , 59vw 365vh #FFF , 132vw 80vh #FFF , 98vw 173vh #FFF , 179vw 128vh #FFF , 35vw 389vh #FFF , 23vw 377vh #FFF , 47vw 138vh #FFF , 87vw 24vh #FFF , 190vw 139vh #FFF , 68vw 340vh #FFF , 193vw 394vh #FFF , 129vw 252vh #FFF , 30vw 245vh #FFF , 13vw 216vh #FFF , 135vw 47vh #FFF , 157vw 378vh #FFF , 47vw 204vh #FFF , 106vw 158vh #FFF , 60vw 28vh #FFF , 181vw 224vh #FFF , 136vw 191vh #FFF , 39vw 14vh #FFF , 186vw 187vh #FFF , 140vw 331vh #FFF , 19vw 51vh #FFF , 21vw 198vh #FFF , 13vw 103vh #FFF , 10vw 2vh #FFF , 129vw 176vh #FFF , 42vw 322vh #FFF , 101vw 287vh #FFF , 170vw 49vh #FFF , 39vw 297vh #FFF , 54vw 43vh #FFF , 181vw 229vh #FFF , 177vw 320vh #FFF , 8vw 68vh #FFF , 58vw 155vh #FFF , 8vw 278vh #FFF , 67vw 293vh #FFF , 82vw 15vh #FFF , 185vw 101vh #FFF , 48vw 357vh #FFF , 96vw 130vh #FFF , 75vw 372vh #FFF , 141vw 59vh #FFF , 90vw 229vh #FFF , 125vw 235vh #FFF , 9vw 320vh #FFF , 11vw 5vh #FFF , 1vw 66vh #FFF , 24vw 236vh #FFF , 51vw 298vh #FFF , 54vw 366vh #FFF , 64vw 246vh #FFF , 125vw 119vh #FFF , 18vw 344vh #FFF , 95vw 233vh #FFF , 193vw 8vh #FFF , 24vw 309vh #FFF , 36vw 169vh #FFF , 58vw 132vh #FFF , 8vw 201vh #FFF , 25vw 148vh #FFF , 100vw 205vh #FFF , 19vw 257vh #FFF , 86vw 317vh #FFF , 15vw 255vh #FFF , 39vw 336vh #FFF , 53vw 327vh #FFF , 55vw 128vh #FFF , 119vw 230vh #FFF , 183vw 167vh #FFF , 26vw 357vh #FFF , 96vw 36vh #FFF , 129vw 238vh #FFF , 159vw 136vh #FFF , 51vw 75vh #FFF , 145vw 391vh #FFF , 84vw 127vh #FFF , 1vw 399vh #FFF , 170vw 343vh #FFF , 163vw 255vh #FFF , 42vw 393vh #FFF , 81vw 182vh #FFF , 99vw 58vh #FFF , 73vw 129vh #FFF , 126vw 314vh #FFF , 193vw 1vh #FFF , 92vw 312vh #FFF , 108vw 64vh #FFF , 75vw 194vh #FFF , 68vw 280vh #FFF , 151vw 291vh #FFF , 62vw 164vh #FFF , 194vw 173vh #FFF , 89vw 214vh #FFF , 146vw 321vh #FFF , 32vw 360vh #FFF , 198vw 249vh #FFF , 185vw 126vh #FFF , 60vw 151vh #FFF , 80vw 372vh #FFF , 86vw 250vh #FFF , 115vw 174vh #FFF , 171vw 391vh #FFF , 62vw 131vh #FFF , 77vw 55vh #FFF , 195vw 65vh #FFF , 87vw 359vh #FFF , 112vw 348vh #FFF , 52vw 320vh #FFF , 36vw 251vh #FFF , 26vw 325vh #FFF , 117vw 249vh #FFF , 78vw 234vh #FFF , 100vw 314vh #FFF , 80vw 133vh #FFF , 141vw 301vh #FFF , 112vw 285vh #FFF , 85vw 299vh #FFF , 50vw 332vh #FFF , 56vw 65vh #FFF , 167vw 192vh #FFF , 59vw 294vh #FFF , 78vw 139vh #FFF , 114vw 102vh #FFF , 104vw 20vh #FFF , 56vw 177vh #FFF , 88vw 230vh #FFF , 187vw 340vh #FFF , 93vw 199vh #FFF , 99vw 2vh #FFF , 11vw 73vh #FFF , 92vw 121vh #FFF , 18vw 159vh #FFF , 23vw 319vh #FFF , 39vw 128vh #FFF , 182vw 168vh #FFF , 153vw 357vh #FFF , 43vw 197vh #FFF , 3vw 281vh #FFF , 17vw 346vh #FFF , 120vw 118vh #FFF , 140vw 272vh #FFF , 94vw 327vh #FFF , 130vw 251vh #FFF , 158vw 227vh #FFF , 2vw 230vh #FFF , 184vw 322vh #FFF , 194vw 102vh #FFF , 111vw 2vh #FFF , 154vw 95vh #FFF , 142vw 5vh #FFF , 125vw 242vh #FFF;
  animation: animateStars 50s linear infinite; }
  #stars-1:after {
    content: " ";
    position: absolute;
    top: 100vh;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 53vw 160vh #FFF , 134vw 304vh #FFF , 55vw 342vh #FFF , 31vw 254vh #FFF , 71vw 119vh #FFF , 42vw 350vh #FFF , 37vw 391vh #FFF , 72vw 289vh #FFF , 73vw 3vh #FFF , 164vw 99vh #FFF , 11vw 320vh #FFF , 83vw 248vh #FFF , 194vw 375vh #FFF , 105vw 297vh #FFF , 74vw 301vh #FFF , 75vw 231vh #FFF , 45vw 143vh #FFF , 135vw 278vh #FFF , 27vw 75vh #FFF , 200vw 321vh #FFF , 138vw 192vh #FFF , 11vw 23vh #FFF , 127vw 317vh #FFF , 144vw 273vh #FFF , 47vw 363vh #FFF , 96vw 156vh #FFF , 81vw 10vh #FFF , 35vw 228vh #FFF , 39vw 393vh #FFF , 149vw 165vh #FFF , 43vw 143vh #FFF , 67vw 101vh #FFF , 26vw 31vh #FFF , 175vw 298vh #FFF , 40vw 8vh #FFF , 15vw 5vh #FFF , 53vw 380vh #FFF , 139vw 59vh #FFF , 119vw 376vh #FFF , 55vw 182vh #FFF , 83vw 84vh #FFF , 21vw 120vh #FFF , 20vw 397vh #FFF , 46vw 206vh #FFF , 21vw 88vh #FFF , 156vw 221vh #FFF , 78vw 31vh #FFF , 3vw 2vh #FFF , 154vw 190vh #FFF , 196vw 265vh #FFF , 30vw 128vh #FFF , 19vw 136vh #FFF , 128vw 279vh #FFF , 32vw 89vh #FFF , 196vw 154vh #FFF , 199vw 121vh #FFF , 187vw 399vh #FFF , 152vw 10vh #FFF , 137vw 365vh #FFF , 33vw 100vh #FFF , 117vw 176vh #FFF , 77vw 149vh #FFF , 161vw 77vh #FFF , 131vw 86vh #FFF , 135vw 146vh #FFF , 23vw 14vh #FFF , 71vw 199vh #FFF , 66vw 268vh #FFF , 181vw 34vh #FFF , 103vw 173vh #FFF , 65vw 79vh #FFF , 35vw 149vh #FFF , 163vw 262vh #FFF , 171vw 237vh #FFF , 74vw 245vh #FFF , 34vw 327vh #FFF , 25vw 119vh #FFF , 51vw 60vh #FFF , 132vw 273vh #FFF , 35vw 340vh #FFF , 74vw 397vh #FFF , 52vw 157vh #FFF , 125vw 82vh #FFF , 54vw 18vh #FFF , 81vw 294vh #FFF , 168vw 351vh #FFF , 134vw 286vh #FFF , 166vw 173vh #FFF , 2vw 300vh #FFF , 138vw 32vh #FFF , 162vw 75vh #FFF , 71vw 123vh #FFF , 111vw 53vh #FFF , 75vw 141vh #FFF , 176vw 296vh #FFF , 69vw 357vh #FFF , 110vw 285vh #FFF , 26vw 361vh #FFF , 41vw 246vh #FFF , 76vw 32vh #FFF , 43vw 174vh #FFF , 13vw 137vh #FFF , 60vw 85vh #FFF , 113vw 173vh #FFF , 147vw 335vh #FFF , 18vw 316vh #FFF , 59vw 75vh #FFF , 192vw 373vh #FFF , 122vw 258vh #FFF , 40vw 326vh #FFF , 62vw 231vh #FFF , 77vw 296vh #FFF , 54vw 380vh #FFF , 87vw 34vh #FFF , 125vw 172vh #FFF , 129vw 110vh #FFF , 55vw 64vh #FFF , 14vw 331vh #FFF , 173vw 188vh #FFF , 66vw 211vh #FFF , 36vw 47vh #FFF , 33vw 343vh #FFF , 182vw 321vh #FFF , 107vw 25vh #FFF , 22vw 204vh #FFF , 75vw 184vh #FFF , 161vw 75vh #FFF , 59vw 296vh #FFF , 50vw 344vh #FFF , 67vw 355vh #FFF , 87vw 278vh #FFF , 165vw 254vh #FFF , 101vw 362vh #FFF , 93vw 238vh #FFF , 46vw 398vh #FFF , 114vw 214vh #FFF , 160vw 170vh #FFF , 87vw 264vh #FFF , 106vw 181vh #FFF , 159vw 43vh #FFF , 49vw 169vh #FFF , 127vw 7vh #FFF , 123vw 23vh #FFF , 179vw 357vh #FFF , 76vw 72vh #FFF , 3vw 47vh #FFF , 45vw 268vh #FFF , 118vw 201vh #FFF , 176vw 84vh #FFF , 49vw 138vh #FFF , 96vw 172vh #FFF , 166vw 224vh #FFF , 48vw 102vh #FFF , 200vw 79vh #FFF , 188vw 324vh #FFF , 69vw 186vh #FFF , 188vw 178vh #FFF , 38vw 106vh #FFF , 80vw 44vh #FFF , 45vw 11vh #FFF , 143vw 246vh #FFF , 119vw 174vh #FFF , 63vw 84vh #FFF , 127vw 151vh #FFF , 116vw 369vh #FFF , 196vw 328vh #FFF , 7vw 122vh #FFF , 115vw 281vh #FFF , 142vw 47vh #FFF , 18vw 256vh #FFF , 192vw 400vh #FFF , 77vw 203vh #FFF , 87vw 190vh #FFF , 87vw 100vh #FFF , 69vw 396vh #FFF , 132vw 226vh #FFF , 29vw 360vh #FFF , 110vw 248vh #FFF , 154vw 15vh #FFF , 59vw 14vh #FFF , 40vw 377vh #FFF , 9vw 103vh #FFF , 101vw 298vh #FFF , 123vw 1vh #FFF , 4vw 98vh #FFF , 5vw 48vh #FFF , 99vw 126vh #FFF , 11vw 175vh #FFF , 55vw 168vh #FFF , 137vw 6vh #FFF , 181vw 159vh #FFF , 22vw 170vh #FFF , 149vw 337vh #FFF , 143vw 200vh #FFF , 185vw 87vh #FFF , 186vw 196vh #FFF , 131vw 225vh #FFF , 1vw 138vh #FFF , 112vw 95vh #FFF , 102vw 270vh #FFF , 178vw 159vh #FFF , 26vw 375vh #FFF , 45vw 66vh #FFF , 23vw 309vh #FFF , 177vw 365vh #FFF , 50vw 326vh #FFF , 135vw 340vh #FFF , 46vw 378vh #FFF , 15vw 164vh #FFF , 124vw 237vh #FFF , 168vw 13vh #FFF , 81vw 104vh #FFF , 18vw 311vh #FFF , 33vw 224vh #FFF , 187vw 248vh #FFF , 140vw 274vh #FFF , 95vw 331vh #FFF , 194vw 141vh #FFF , 189vw 94vh #FFF , 71vw 77vh #FFF , 110vw 296vh #FFF , 85vw 201vh #FFF , 128vw 242vh #FFF , 172vw 64vh #FFF , 194vw 392vh #FFF , 141vw 203vh #FFF , 138vw 167vh #FFF , 158vw 359vh #FFF , 39vw 323vh #FFF , 114vw 297vh #FFF , 156vw 397vh #FFF , 4vw 149vh #FFF , 97vw 158vh #FFF , 3vw 248vh #FFF , 127vw 174vh #FFF , 111vw 71vh #FFF , 95vw 156vh #FFF , 189vw 391vh #FFF , 134vw 79vh #FFF , 2vw 271vh #FFF , 17vw 243vh #FFF , 94vw 299vh #FFF , 100vw 267vh #FFF , 88vw 334vh #FFF , 138vw 392vh #FFF , 41vw 52vh #FFF , 66vw 126vh #FFF , 17vw 394vh #FFF , 123vw 31vh #FFF , 43vw 368vh #FFF , 78vw 34vh #FFF , 94vw 143vh #FFF , 196vw 1vh #FFF , 144vw 157vh #FFF , 135vw 22vh #FFF , 191vw 298vh #FFF , 143vw 349vh #FFF , 155vw 300vh #FFF , 117vw 239vh #FFF , 174vw 243vh #FFF , 95vw 149vh #FFF , 170vw 134vh #FFF , 128vw 219vh #FFF , 67vw 362vh #FFF , 169vw 229vh #FFF , 10vw 300vh #FFF , 132vw 222vh #FFF , 34vw 255vh #FFF , 89vw 77vh #FFF , 160vw 256vh #FFF , 63vw 258vh #FFF , 159vw 129vh #FFF , 194vw 384vh #FFF , 157vw 121vh #FFF , 116vw 398vh #FFF , 138vw 159vh #FFF , 148vw 100vh #FFF , 160vw 256vh #FFF , 116vw 191vh #FFF , 190vw 263vh #FFF , 145vw 47vh #FFF , 37vw 207vh #FFF , 112vw 91vh #FFF , 21vw 229vh #FFF , 107vw 191vh #FFF , 131vw 289vh #FFF , 43vw 23vh #FFF , 142vw 171vh #FFF , 69vw 316vh #FFF , 167vw 102vh #FFF , 98vw 155vh #FFF , 56vw 250vh #FFF , 80vw 306vh #FFF , 50vw 41vh #FFF , 166vw 299vh #FFF , 60vw 191vh #FFF , 148vw 28vh #FFF , 135vw 239vh #FFF , 76vw 165vh #FFF , 44vw 12vh #FFF; }

#stars-2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 22vw 342vh #FFF , 101vw 162vh #FFF , 2vw 319vh #FFF , 148vw 360vh #FFF , 155vw 296vh #FFF , 181vw 208vh #FFF , 13vw 375vh #FFF , 67vw 159vh #FFF , 150vw 393vh #FFF , 106vw 272vh #FFF , 119vw 251vh #FFF , 133vw 142vh #FFF , 185vw 224vh #FFF , 29vw 334vh #FFF , 127vw 294vh #FFF , 157vw 203vh #FFF , 138vw 20vh #FFF , 173vw 128vh #FFF , 145vw 377vh #FFF , 184vw 395vh #FFF , 21vw 176vh #FFF , 127vw 279vh #FFF , 56vw 41vh #FFF , 172vw 105vh #FFF , 131vw 34vh #FFF , 178vw 347vh #FFF , 22vw 130vh #FFF , 165vw 98vh #FFF , 43vw 329vh #FFF , 82vw 151vh #FFF , 84vw 88vh #FFF , 65vw 284vh #FFF , 108vw 272vh #FFF , 189vw 184vh #FFF , 37vw 263vh #FFF , 49vw 328vh #FFF , 149vw 38vh #FFF , 35vw 294vh #FFF , 42vw 76vh #FFF , 15vw 30vh #FFF , 43vw 318vh #FFF , 132vw 34vh #FFF , 42vw 382vh #FFF , 174vw 294vh #FFF , 198vw 47vh #FFF , 6vw 355vh #FFF , 181vw 73vh #FFF , 180vw 295vh #FFF , 32vw 3vh #FFF , 166vw 119vh #FFF , 142vw 400vh #FFF , 92vw 119vh #FFF , 152vw 39vh #FFF , 81vw 301vh #FFF , 92vw 202vh #FFF , 77vw 256vh #FFF , 67vw 132vh #FFF , 37vw 291vh #FFF , 38vw 345vh #FFF , 120vw 6vh #FFF , 35vw 107vh #FFF , 61vw 158vh #FFF , 164vw 111vh #FFF , 82vw 342vh #FFF , 177vw 234vh #FFF , 32vw 276vh #FFF , 101vw 149vh #FFF , 187vw 298vh #FFF , 124vw 75vh #FFF , 157vw 250vh #FFF , 178vw 302vh #FFF , 53vw 34vh #FFF , 52vw 208vh #FFF , 86vw 218vh #FFF , 2vw 387vh #FFF , 109vw 195vh #FFF , 102vw 371vh #FFF , 79vw 75vh #FFF , 4vw 229vh #FFF , 14vw 157vh #FFF , 94vw 271vh #FFF , 13vw 376vh #FFF , 123vw 192vh #FFF , 12vw 256vh #FFF , 110vw 125vh #FFF , 157vw 94vh #FFF , 57vw 215vh #FFF , 94vw 189vh #FFF , 142vw 127vh #FFF , 182vw 237vh #FFF , 192vw 363vh #FFF , 10vw 21vh #FFF , 51vw 380vh #FFF , 46vw 396vh #FFF , 9vw 64vh #FFF , 86vw 77vh #FFF , 35vw 147vh #FFF , 198vw 283vh #FFF , 196vw 189vh #FFF , 46vw 328vh #FFF , 33vw 52vh #FFF , 26vw 321vh #FFF , 68vw 292vh #FFF , 173vw 255vh #FFF , 58vw 163vh #FFF , 194vw 169vh #FFF , 17vw 229vh #FFF , 111vw 368vh #FFF , 94vw 187vh #FFF , 113vw 5vh #FFF , 138vw 186vh #FFF , 149vw 301vh #FFF , 119vw 101vh #FFF , 89vw 380vh #FFF , 65vw 25vh #FFF , 150vw 367vh #FFF , 91vw 322vh #FFF , 67vw 199vh #FFF , 19vw 373vh #FFF , 61vw 175vh #FFF , 33vw 174vh #FFF , 90vw 290vh #FFF , 84vw 248vh #FFF , 29vw 90vh #FFF , 21vw 150vh #FFF , 65vw 64vh #FFF , 136vw 194vh #FFF , 65vw 72vh #FFF , 104vw 192vh #FFF , 129vw 181vh #FFF , 74vw 168vh #FFF , 29vw 204vh #FFF , 88vw 116vh #FFF , 163vw 177vh #FFF , 22vw 311vh #FFF , 61vw 352vh #FFF , 107vw 362vh #FFF , 127vw 141vh #FFF , 41vw 206vh #FFF , 9vw 110vh #FFF , 176vw 324vh #FFF , 31vw 189vh #FFF , 182vw 45vh #FFF , 137vw 209vh #FFF , 66vw 305vh #FFF , 122vw 216vh #FFF , 60vw 223vh #FFF , 107vw 135vh #FFF , 124vw 37vh #FFF , 165vw 182vh #FFF , 56vw 39vh #FFF , 83vw 383vh #FFF , 58vw 196vh #FFF , 130vw 90vh #FFF , 172vw 215vh #FFF , 75vw 327vh #FFF , 15vw 107vh #FFF , 62vw 40vh #FFF , 10vw 91vh #FFF , 154vw 286vh #FFF , 173vw 213vh #FFF , 73vw 249vh #FFF , 186vw 301vh #FFF , 75vw 358vh #FFF , 88vw 59vh #FFF , 31vw 300vh #FFF , 87vw 337vh #FFF , 199vw 353vh #FFF , 32vw 312vh #FFF , 163vw 197vh #FFF , 64vw 119vh #FFF , 101vw 308vh #FFF , 153vw 334vh #FFF , 62vw 210vh #FFF , 81vw 357vh #FFF , 5vw 304vh #FFF , 190vw 325vh #FFF , 109vw 269vh #FFF , 42vw 192vh #FFF , 179vw 231vh #FFF , 52vw 283vh #FFF , 120vw 3vh #FFF , 6vw 183vh #FFF , 3vw 153vh #FFF , 179vw 291vh #FFF , 15vw 374vh #FFF , 59vw 34vh #FFF , 77vw 226vh #FFF , 117vw 368vh #FFF , 182vw 92vh #FFF , 31vw 25vh #FFF , 94vw 103vh #FFF , 38vw 18vh #FFF , 77vw 363vh #FFF , 135vw 399vh #FFF , 168vw 119vh #FFF , 145vw 114vh #FFF , 59vw 399vh #FFF , 46vw 165vh #FFF , 167vw 209vh #FFF;
  animation: animateStars 100s linear infinite; }
  #stars-2:after {
    content: " ";
    position: absolute;
    top: 100vh;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 169vw 324vh #FFF , 64vw 126vh #FFF , 110vw 288vh #FFF , 23vw 33vh #FFF , 92vw 121vh #FFF , 21vw 16vh #FFF , 123vw 205vh #FFF , 121vw 254vh #FFF , 35vw 291vh #FFF , 39vw 49vh #FFF , 179vw 298vh #FFF , 123vw 375vh #FFF , 24vw 113vh #FFF , 86vw 163vh #FFF , 87vw 74vh #FFF , 2vw 124vh #FFF , 59vw 51vh #FFF , 66vw 155vh #FFF , 63vw 313vh #FFF , 66vw 312vh #FFF , 165vw 27vh #FFF , 199vw 238vh #FFF , 48vw 123vh #FFF , 159vw 242vh #FFF , 129vw 261vh #FFF , 47vw 46vh #FFF , 120vw 369vh #FFF , 176vw 15vh #FFF , 40vw 332vh #FFF , 152vw 24vh #FFF , 35vw 189vh #FFF , 49vw 16vh #FFF , 81vw 211vh #FFF , 6vw 22vh #FFF , 161vw 190vh #FFF , 82vw 74vh #FFF , 71vw 397vh #FFF , 116vw 311vh #FFF , 11vw 14vh #FFF , 78vw 293vh #FFF , 59vw 150vh #FFF , 82vw 231vh #FFF , 120vw 219vh #FFF , 96vw 367vh #FFF , 173vw 111vh #FFF , 72vw 360vh #FFF , 151vw 279vh #FFF , 143vw 276vh #FFF , 143vw 216vh #FFF , 68vw 81vh #FFF , 68vw 335vh #FFF , 197vw 284vh #FFF , 3vw 169vh #FFF , 198vw 167vh #FFF , 109vw 364vh #FFF , 65vw 333vh #FFF , 125vw 246vh #FFF , 38vw 14vh #FFF , 97vw 27vh #FFF , 194vw 32vh #FFF , 37vw 353vh #FFF , 53vw 4vh #FFF , 105vw 113vh #FFF , 6vw 168vh #FFF , 10vw 120vh #FFF , 26vw 294vh #FFF , 88vw 313vh #FFF , 13vw 165vh #FFF , 109vw 295vh #FFF , 93vw 236vh #FFF , 55vw 344vh #FFF , 64vw 67vh #FFF , 68vw 70vh #FFF , 141vw 53vh #FFF , 30vw 355vh #FFF , 4vw 215vh #FFF , 101vw 129vh #FFF , 166vw 190vh #FFF , 49vw 6vh #FFF , 32vw 203vh #FFF , 131vw 14vh #FFF , 82vw 158vh #FFF , 110vw 360vh #FFF , 44vw 17vh #FFF , 91vw 72vh #FFF , 34vw 291vh #FFF , 58vw 187vh #FFF , 185vw 271vh #FFF , 4vw 37vh #FFF , 188vw 180vh #FFF , 178vw 97vh #FFF , 154vw 357vh #FFF , 157vw 68vh #FFF , 64vw 281vh #FFF , 29vw 235vh #FFF , 5vw 3vh #FFF , 106vw 196vh #FFF , 31vw 135vh #FFF , 134vw 322vh #FFF , 51vw 132vh #FFF , 148vw 77vh #FFF , 188vw 74vh #FFF , 146vw 15vh #FFF , 96vw 255vh #FFF , 65vw 173vh #FFF , 14vw 92vh #FFF , 155vw 79vh #FFF , 60vw 223vh #FFF , 26vw 352vh #FFF , 11vw 70vh #FFF , 184vw 104vh #FFF , 200vw 343vh #FFF , 186vw 43vh #FFF , 137vw 207vh #FFF , 36vw 385vh #FFF , 192vw 270vh #FFF , 67vw 254vh #FFF , 90vw 274vh #FFF , 148vw 290vh #FFF , 21vw 56vh #FFF , 35vw 194vh #FFF , 16vw 324vh #FFF , 75vw 310vh #FFF , 5vw 253vh #FFF , 111vw 295vh #FFF , 7vw 228vh #FFF , 52vw 172vh #FFF , 194vw 354vh #FFF , 148vw 202vh #FFF , 17vw 198vh #FFF , 130vw 396vh #FFF , 164vw 163vh #FFF , 125vw 350vh #FFF , 169vw 194vh #FFF , 48vw 35vh #FFF , 7vw 111vh #FFF , 94vw 163vh #FFF , 168vw 197vh #FFF , 2vw 149vh #FFF , 121vw 219vh #FFF , 12vw 342vh #FFF , 170vw 7vh #FFF , 102vw 168vh #FFF , 198vw 160vh #FFF , 113vw 330vh #FFF , 136vw 339vh #FFF , 28vw 81vh #FFF , 30vw 63vh #FFF , 167vw 139vh #FFF , 76vw 63vh #FFF , 171vw 67vh #FFF , 12vw 364vh #FFF , 143vw 373vh #FFF , 103vw 246vh #FFF , 110vw 12vh #FFF , 77vw 89vh #FFF , 132vw 173vh #FFF , 132vw 374vh #FFF , 41vw 221vh #FFF , 3vw 393vh #FFF , 24vw 357vh #FFF , 67vw 164vh #FFF , 16vw 192vh #FFF , 174vw 396vh #FFF , 194vw 61vh #FFF , 98vw 331vh #FFF , 181vw 307vh #FFF , 111vw 60vh #FFF , 187vw 183vh #FFF , 135vw 351vh #FFF , 183vw 205vh #FFF , 73vw 162vh #FFF , 107vw 63vh #FFF , 21vw 264vh #FFF , 109vw 189vh #FFF , 24vw 298vh #FFF , 93vw 93vh #FFF , 7vw 238vh #FFF , 157vw 272vh #FFF , 41vw 301vh #FFF , 125vw 165vh #FFF , 81vw 127vh #FFF , 160vw 76vh #FFF , 186vw 372vh #FFF , 180vw 320vh #FFF , 101vw 273vh #FFF , 99vw 167vh #FFF , 18vw 273vh #FFF , 181vw 70vh #FFF , 163vw 318vh #FFF , 124vw 286vh #FFF , 7vw 196vh #FFF , 42vw 52vh #FFF , 30vw 116vh #FFF , 155vw 77vh #FFF , 200vw 270vh #FFF , 188vw 335vh #FFF , 122vw 232vh #FFF , 159vw 242vh #FFF , 33vw 336vh #FFF; }

#stars-3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 183vw 148vh #FFF , 127vw 347vh #FFF , 153vw 152vh #FFF , 42vw 288vh #FFF , 153vw 357vh #FFF , 120vw 102vh #FFF , 186vw 129vh #FFF , 87vw 259vh #FFF , 4vw 375vh #FFF , 42vw 106vh #FFF , 34vw 57vh #FFF , 104vw 47vh #FFF , 175vw 364vh #FFF , 166vw 280vh #FFF , 44vw 151vh #FFF , 14vw 166vh #FFF , 67vw 166vh #FFF , 197vw 112vh #FFF , 180vw 317vh #FFF , 166vw 259vh #FFF , 21vw 299vh #FFF , 127vw 257vh #FFF , 30vw 313vh #FFF , 80vw 125vh #FFF , 139vw 332vh #FFF , 136vw 368vh #FFF , 28vw 217vh #FFF , 178vw 375vh #FFF , 174vw 99vh #FFF , 188vw 288vh #FFF , 195vw 114vh #FFF , 160vw 346vh #FFF , 48vw 73vh #FFF , 150vw 272vh #FFF , 193vw 313vh #FFF , 181vw 203vh #FFF , 51vw 313vh #FFF , 22vw 188vh #FFF , 191vw 29vh #FFF , 103vw 368vh #FFF , 97vw 308vh #FFF , 15vw 362vh #FFF , 124vw 11vh #FFF , 120vw 31vh #FFF , 125vw 360vh #FFF , 102vw 233vh #FFF , 138vw 2vh #FFF , 108vw 95vh #FFF , 127vw 38vh #FFF , 198vw 353vh #FFF , 128vw 96vh #FFF , 164vw 162vh #FFF , 118vw 182vh #FFF , 15vw 78vh #FFF , 69vw 237vh #FFF , 35vw 210vh #FFF , 198vw 261vh #FFF , 94vw 353vh #FFF , 5vw 366vh #FFF , 186vw 349vh #FFF , 168vw 292vh #FFF , 27vw 331vh #FFF , 128vw 372vh #FFF , 200vw 384vh #FFF , 18vw 110vh #FFF , 54vw 334vh #FFF , 103vw 76vh #FFF , 184vw 111vh #FFF , 179vw 163vh #FFF , 171vw 13vh #FFF , 84vw 60vh #FFF , 102vw 224vh #FFF , 144vw 236vh #FFF , 54vw 232vh #FFF , 195vw 164vh #FFF , 39vw 294vh #FFF , 42vw 208vh #FFF , 117vw 84vh #FFF , 60vw 42vh #FFF , 172vw 88vh #FFF , 178vw 72vh #FFF , 110vw 117vh #FFF , 50vw 177vh #FFF , 161vw 348vh #FFF , 86vw 219vh #FFF , 32vw 146vh #FFF , 183vw 167vh #FFF , 187vw 133vh #FFF , 163vw 210vh #FFF , 142vw 295vh #FFF , 118vw 333vh #FFF , 33vw 397vh #FFF , 152vw 387vh #FFF , 45vw 302vh #FFF , 51vw 159vh #FFF , 196vw 88vh #FFF , 134vw 231vh #FFF , 197vw 135vh #FFF , 164vw 388vh #FFF , 30vw 148vh #FFF;
  animation: animateStars 150s linear infinite; }
  #stars-3:after {
    content: " ";
    position: absolute;
    top: 100vh;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 14vw 303vh #FFF , 19vw 214vh #FFF , 77vw 215vh #FFF , 42vw 380vh #FFF , 101vw 157vh #FFF , 185vw 192vh #FFF , 140vw 157vh #FFF , 5vw 364vh #FFF , 196vw 243vh #FFF , 136vw 340vh #FFF , 153vw 378vh #FFF , 17vw 89vh #FFF , 21vw 181vh #FFF , 55vw 109vh #FFF , 103vw 155vh #FFF , 79vw 49vh #FFF , 181vw 291vh #FFF , 142vw 377vh #FFF , 129vw 90vh #FFF , 5vw 143vh #FFF , 129vw 151vh #FFF , 39vw 144vh #FFF , 59vw 39vh #FFF , 92vw 373vh #FFF , 153vw 20vh #FFF , 105vw 362vh #FFF , 7vw 89vh #FFF , 33vw 357vh #FFF , 141vw 311vh #FFF , 109vw 237vh #FFF , 68vw 73vh #FFF , 60vw 206vh #FFF , 10vw 5vh #FFF , 43vw 124vh #FFF , 84vw 302vh #FFF , 139vw 102vh #FFF , 39vw 85vh #FFF , 71vw 213vh #FFF , 195vw 81vh #FFF , 23vw 28vh #FFF , 162vw 277vh #FFF , 187vw 195vh #FFF , 94vw 72vh #FFF , 94vw 203vh #FFF , 142vw 3vh #FFF , 92vw 322vh #FFF , 198vw 302vh #FFF , 78vw 207vh #FFF , 93vw 37vh #FFF , 33vw 85vh #FFF , 76vw 97vh #FFF , 132vw 282vh #FFF , 140vw 206vh #FFF , 109vw 328vh #FFF , 58vw 204vh #FFF , 38vw 297vh #FFF , 159vw 263vh #FFF , 147vw 298vh #FFF , 35vw 105vh #FFF , 47vw 34vh #FFF , 157vw 291vh #FFF , 173vw 40vh #FFF , 5vw 208vh #FFF , 14vw 72vh #FFF , 114vw 325vh #FFF , 199vw 37vh #FFF , 191vw 187vh #FFF , 88vw 123vh #FFF , 55vw 394vh #FFF , 185vw 64vh #FFF , 131vw 2vh #FFF , 98vw 226vh #FFF , 198vw 29vh #FFF , 3vw 95vh #FFF , 199vw 293vh #FFF , 4vw 317vh #FFF , 48vw 95vh #FFF , 129vw 184vh #FFF , 25vw 287vh #FFF , 163vw 70vh #FFF , 171vw 223vh #FFF , 183vw 297vh #FFF , 92vw 118vh #FFF , 62vw 72vh #FFF , 69vw 221vh #FFF , 45vw 366vh #FFF , 149vw 178vh #FFF , 181vw 200vh #FFF , 194vw 230vh #FFF , 17vw 199vh #FFF , 155vw 102vh #FFF , 86vw 362vh #FFF , 193vw 325vh #FFF , 34vw 46vh #FFF , 74vw 69vh #FFF , 90vw 269vh #FFF , 68vw 306vh #FFF , 148vw 212vh #FFF , 4vw 226vh #FFF , 113vw 199vh #FFF; }

/* Header & Footer */
header {
  position: relative;
  z-index: 1; }
  header #logo {
    display: block;
    margin: 0 auto;
    max-width: 90vw;
    max-height: 35vh;
    animation: floatDown 4s ease; }

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 25%;
  background: linear-gradient(to right, transparent, black);
  font-size: .9em;
  padding: .3em 1em;
  text-align: right; }
  @media (max-width: 768px) {
    footer {
      width: 100%; } }

/* Cartridge */
#cartridge {
  position: absolute;
  bottom: 5%;
  right: 5%;
  width: 10%;
  cursor: pointer;
  opacity: 0;
  z-index: 3;
  animation: verticalFloat 3s ease infinite, floatUp 3s ease forwards;
  animation-delay: 5s, 2.5s; }
  #cartridge:hover {
    animation-play-state: paused; }
    #cartridge:hover:after {
      content: "Want to play on real hardware? Click to download the NES ROM developed by KHAN Games!";
      font-family: 'Patrick Hand SC', cursive;
      position: absolute;
      top: -100px;
      right: 0;
      animation: floatUp .5s forwards ease;
      width: 200px;
      z-index: -1; }
  #cartridge img {
    display: block;
    width: 100%;
    transition: transform .5s ease; }
    #cartridge img:hover {
      transform: scale(1.2);
      animation-play-state: paused; }

/* Options */
#options {
  margin-bottom: 1em;
  font-size: 1.5em;
  color: #ff00e4;
  cursor: default;
  opacity: 0;
  animation: turnOn 1s ease forwards;
  animation-delay: 3.5s; }
  #options input[type=button] {
    text-transform: uppercase;
    background: none;
    border: none;
    color: #ff00e4;
    text-decoration: none;
    font-style: italic;
    font-size: 1em;
    cursor: pointer;
    transition: color .2s ease, opacity .2s ease; }
    #options input[type=button]:disabled {
      opacity: 0.25;
      cursor: default; }
    #options input[type=button]:not(:disabled):hover {
      color: #00baff; }
    #options input[type=button].active {
      color: #00baff;
      cursor: default; }
    @media (max-width: 768px) {
      #options input[type=button] {
        font-size: .8em; } }

/* Wrapper (Game, Leaderboard, About) */
.wrapper {
  position: relative;
  width: 100%; }
  .wrapper section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: opacity 1s ease, transform 1s ease;
    /* About */
    /* Game */
    /* Leaderboard */ }
    .wrapper section:not(.active) {
      transform: translateY(100%);
      opacity: 0;
      height: 0; }
    .wrapper section#about {
      width: 1024px;
      max-width: 95%;
      margin: 0 auto;
      position: relative;
      text-align: left;
      pointer-events: none; }
    .wrapper section#game {
      z-index: 3; }
      .wrapper section#game #timer {
        font-size: 7vw;
        opacity: 0;
        animation: turnOn 1s ease forwards;
        animation-delay: 4s; }
      .wrapper section#game #score {
        font-size: 6vw;
        opacity: 0;
        animation: turnOn 1s ease forwards;
        animation-delay: 4.5s; }
      .wrapper section#game #username input[type=text] {
        background: transparent;
        text-align: center;
        border: 0;
        color: white;
        font-size: 2em; }
        .wrapper section#game #username input[type=text]:disabled {
          opacity: 0; }
      .wrapper section#game #errors {
        display: none;
        color: #ff00e4;
        font-size: 1.3em;
        animation: flash 3s linear infinite; }
      @media (max-width: 768px) {
        .wrapper section#game #timer {
          font-size: 12vw;
          margin-bottom: 10px; }
        .wrapper section#game #score {
          font-size: 10vw;
          margin-bottom: 10px; }
        .wrapper section#game #username input[type=text] {
          font-size: 8vw;
          width: 100%; }
        .wrapper section#game #tap {
          width: 100%;
          opacity: 0;
          animation: turnOn 1s ease forwards;
          animation-delay: 5s; }
          .wrapper section#game #tap .tap-button {
            position: absolute;
            font-size: 2em;
            line-height: 2em;
            color: white;
            border: none;
            border-radius: 50%;
            padding: 0 .7em; }
            .wrapper section#game #tap .tap-button:first-of-type {
              left: 10%;
              background: #ff00e4; }
            .wrapper section#game #tap .tap-button:last-of-type {
              right: 10%;
              background: #00baff; } }
    .wrapper section#leaderboard table {
      display: block;
      margin: 0 auto;
      width: 250px; }
      .wrapper section#leaderboard table th, .wrapper section#leaderboard table td {
        text-align: left;
        text-transform: uppercase; }

#score-form-hidden {
  position: absolute;
  top: 0;
  left: -9999px; }

/*# sourceMappingURL=main.css.map */
