/* Imports */
@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
@import url("https://fonts.googleapis.com/css?family=Patrick+Hand+SC");
/* Functions & Vars */
/* Animations */
@keyframes animateStars {
  from {
    transform: translateY(-400vh); }
  to {
    transform: translateY(-50vh); } }
@keyframes verticalFloat {
  0% {
    bottom: 5%; }
  50% {
    bottom: 10%; }
  100% {
    bottom: 5%; } }
@keyframes floatUp {
  from {
    transform: translateY(115%);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }
@keyframes floatDown {
  from {
    transform: translateY(-125%);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }
@keyframes turnOn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes flash {
  0% {
    opacity: 0; }
  15% {
    opacity: 1; }
  30% {
    opacity: 0; }
  45% {
    opacity: 1; }
  60% {
    opacity: 0; }
  75% {
    opacity: 1; }
  100% {
    opacity: 0; } }
/* Overrides & General */
html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  background: radial-gradient(ellipse at top, #242424 0%, #000 100%);
  overflow: hidden;
  color: white;
  font-family: arial, sans-serif;
  text-align: center; }
  html::before, body::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(transparent 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none; }
  @media (max-width: 768px) {
    html.about, body.about {
      overflow: scroll; } }

body {
  opacity: 0;
  opacity: 0;
  animation: turnOn 4s ease forwards;
  animation-delay: 0; }

section {
  margin-bottom: 20px; }

textarea, input, button {
  outline: none; }

p strong {
  color: #00baff; }

.digital {
  font-family: 'Press Start 2P', cursive; }

.mobile {
  display: none; }

@media (max-width: 768px) {
  .mobile {
    display: block; }

  .desktop {
    display: none; } }
/* Stars */
#stars-1 {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 192vw 167vh #FFF , 33vw 381vh #FFF , 64vw 214vh #FFF , 18vw 18vh #FFF , 179vw 92vh #FFF , 171vw 81vh #FFF , 106vw 275vh #FFF , 27vw 354vh #FFF , 66vw 89vh #FFF , 147vw 313vh #FFF , 173vw 228vh #FFF , 9vw 71vh #FFF , 161vw 103vh #FFF , 100vw 155vh #FFF , 84vw 96vh #FFF , 193vw 151vh #FFF , 1vw 391vh #FFF , 125vw 108vh #FFF , 103vw 332vh #FFF , 198vw 346vh #FFF , 147vw 396vh #FFF , 56vw 261vh #FFF , 105vw 313vh #FFF , 184vw 2vh #FFF , 131vw 41vh #FFF , 20vw 247vh #FFF , 16vw 295vh #FFF , 133vw 129vh #FFF , 140vw 367vh #FFF , 133vw 47vh #FFF , 161vw 218vh #FFF , 138vw 43vh #FFF , 40vw 348vh #FFF , 22vw 315vh #FFF , 132vw 159vh #FFF , 105vw 219vh #FFF , 9vw 76vh #FFF , 141vw 244vh #FFF , 32vw 311vh #FFF , 159vw 259vh #FFF , 18vw 361vh #FFF , 109vw 338vh #FFF , 72vw 199vh #FFF , 62vw 314vh #FFF , 135vw 254vh #FFF , 147vw 18vh #FFF , 33vw 368vh #FFF , 52vw 218vh #FFF , 159vw 356vh #FFF , 71vw 83vh #FFF , 111vw 336vh #FFF , 96vw 210vh #FFF , 82vw 21vh #FFF , 152vw 358vh #FFF , 67vw 371vh #FFF , 113vw 319vh #FFF , 21vw 166vh #FFF , 19vw 309vh #FFF , 128vw 384vh #FFF , 47vw 250vh #FFF , 140vw 338vh #FFF , 9vw 273vh #FFF , 44vw 249vh #FFF , 150vw 179vh #FFF , 150vw 159vh #FFF , 119vw 118vh #FFF , 10vw 80vh #FFF , 118vw 95vh #FFF , 82vw 114vh #FFF , 117vw 229vh #FFF , 83vw 255vh #FFF , 144vw 73vh #FFF , 75vw 381vh #FFF , 140vw 262vh #FFF , 148vw 357vh #FFF , 59vw 360vh #FFF , 42vw 191vh #FFF , 117vw 42vh #FFF , 26vw 266vh #FFF , 102vw 58vh #FFF , 112vw 153vh #FFF , 119vw 128vh #FFF , 44vw 308vh #FFF , 167vw 188vh #FFF , 133vw 223vh #FFF , 193vw 22vh #FFF , 131vw 141vh #FFF , 107vw 302vh #FFF , 144vw 150vh #FFF , 134vw 317vh #FFF , 186vw 198vh #FFF , 141vw 110vh #FFF , 20vw 259vh #FFF , 185vw 72vh #FFF , 133vw 110vh #FFF , 118vw 145vh #FFF , 166vw 61vh #FFF , 115vw 175vh #FFF , 14vw 254vh #FFF , 68vw 185vh #FFF , 167vw 159vh #FFF , 169vw 159vh #FFF , 25vw 150vh #FFF , 110vw 105vh #FFF , 1vw 238vh #FFF , 177vw 389vh #FFF , 172vw 80vh #FFF , 119vw 147vh #FFF , 171vw 353vh #FFF , 199vw 380vh #FFF , 7vw 388vh #FFF , 161vw 300vh #FFF , 163vw 101vh #FFF , 197vw 232vh #FFF , 185vw 248vh #FFF , 75vw 253vh #FFF , 142vw 152vh #FFF , 151vw 263vh #FFF , 19vw 138vh #FFF , 188vw 325vh #FFF , 174vw 342vh #FFF , 167vw 142vh #FFF , 6vw 136vh #FFF , 113vw 240vh #FFF , 86vw 312vh #FFF , 172vw 343vh #FFF , 117vw 190vh #FFF , 85vw 324vh #FFF , 90vw 295vh #FFF , 9vw 368vh #FFF , 70vw 359vh #FFF , 126vw 334vh #FFF , 11vw 383vh #FFF , 109vw 371vh #FFF , 166vw 271vh #FFF , 43vw 178vh #FFF , 68vw 63vh #FFF , 174vw 299vh #FFF , 100vw 305vh #FFF , 76vw 165vh #FFF , 68vw 28vh #FFF , 3vw 16vh #FFF , 139vw 132vh #FFF , 144vw 347vh #FFF , 80vw 226vh #FFF , 67vw 111vh #FFF , 106vw 164vh #FFF , 87vw 378vh #FFF , 74vw 309vh #FFF , 22vw 202vh #FFF , 73vw 24vh #FFF , 200vw 330vh #FFF , 10vw 82vh #FFF , 113vw 317vh #FFF , 60vw 66vh #FFF , 92vw 118vh #FFF , 188vw 284vh #FFF , 195vw 354vh #FFF , 89vw 93vh #FFF , 51vw 170vh #FFF , 1vw 251vh #FFF , 197vw 317vh #FFF , 122vw 388vh #FFF , 43vw 400vh #FFF , 107vw 276vh #FFF , 83vw 211vh #FFF , 109vw 12vh #FFF , 105vw 71vh #FFF , 97vw 149vh #FFF , 154vw 257vh #FFF , 59vw 266vh #FFF , 70vw 177vh #FFF , 57vw 304vh #FFF , 78vw 154vh #FFF , 155vw 31vh #FFF , 105vw 76vh #FFF , 134vw 222vh #FFF , 3vw 101vh #FFF , 54vw 81vh #FFF , 179vw 131vh #FFF , 75vw 113vh #FFF , 36vw 189vh #FFF , 179vw 303vh #FFF , 174vw 368vh #FFF , 16vw 179vh #FFF , 75vw 310vh #FFF , 106vw 16vh #FFF , 177vw 396vh #FFF , 26vw 344vh #FFF , 33vw 231vh #FFF , 19vw 38vh #FFF , 152vw 288vh #FFF , 46vw 331vh #FFF , 192vw 125vh #FFF , 40vw 95vh #FFF , 65vw 316vh #FFF , 19vw 331vh #FFF , 171vw 274vh #FFF , 199vw 317vh #FFF , 24vw 167vh #FFF , 53vw 64vh #FFF , 44vw 316vh #FFF , 97vw 38vh #FFF , 155vw 81vh #FFF , 131vw 226vh #FFF , 52vw 389vh #FFF , 168vw 132vh #FFF , 82vw 388vh #FFF , 151vw 270vh #FFF , 86vw 366vh #FFF , 19vw 176vh #FFF , 192vw 291vh #FFF , 120vw 186vh #FFF , 20vw 385vh #FFF , 118vw 230vh #FFF , 51vw 383vh #FFF , 61vw 245vh #FFF , 17vw 161vh #FFF , 122vw 199vh #FFF , 28vw 376vh #FFF , 57vw 276vh #FFF , 141vw 305vh #FFF , 135vw 18vh #FFF , 193vw 292vh #FFF , 194vw 197vh #FFF , 127vw 60vh #FFF , 189vw 97vh #FFF , 43vw 146vh #FFF , 180vw 365vh #FFF , 130vw 73vh #FFF , 80vw 207vh #FFF , 67vw 258vh #FFF , 10vw 254vh #FFF , 199vw 7vh #FFF , 49vw 10vh #FFF , 1vw 173vh #FFF , 84vw 4vh #FFF , 96vw 161vh #FFF , 163vw 83vh #FFF , 107vw 33vh #FFF , 124vw 167vh #FFF , 16vw 333vh #FFF , 46vw 81vh #FFF , 107vw 356vh #FFF , 75vw 76vh #FFF , 86vw 307vh #FFF , 47vw 271vh #FFF , 187vw 127vh #FFF , 7vw 276vh #FFF , 29vw 141vh #FFF , 167vw 382vh #FFF , 178vw 10vh #FFF , 51vw 51vh #FFF , 193vw 151vh #FFF , 86vw 147vh #FFF , 15vw 133vh #FFF , 175vw 195vh #FFF , 194vw 220vh #FFF , 99vw 286vh #FFF , 20vw 73vh #FFF , 89vw 174vh #FFF , 170vw 132vh #FFF , 108vw 23vh #FFF , 24vw 254vh #FFF , 52vw 289vh #FFF , 7vw 174vh #FFF , 109vw 114vh #FFF , 194vw 60vh #FFF , 136vw 214vh #FFF , 63vw 4vh #FFF , 68vw 139vh #FFF , 200vw 330vh #FFF , 132vw 75vh #FFF , 195vw 373vh #FFF , 132vw 242vh #FFF , 145vw 114vh #FFF , 102vw 96vh #FFF , 158vw 133vh #FFF , 193vw 39vh #FFF , 184vw 196vh #FFF , 18vw 97vh #FFF , 149vw 171vh #FFF , 101vw 17vh #FFF , 101vw 14vh #FFF , 158vw 289vh #FFF , 52vw 246vh #FFF , 29vw 275vh #FFF , 197vw 195vh #FFF , 125vw 126vh #FFF , 105vw 395vh #FFF , 194vw 66vh #FFF , 129vw 240vh #FFF , 132vw 177vh #FFF , 23vw 108vh #FFF , 21vw 88vh #FFF , 200vw 199vh #FFF , 17vw 238vh #FFF , 123vw 129vh #FFF , 1vw 312vh #FFF , 139vw 9vh #FFF;
  animation: animateStars 50s linear infinite; }
  #stars-1:after {
    content: " ";
    position: absolute;
    top: 100vh;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 24vw 304vh #FFF , 55vw 44vh #FFF , 32vw 321vh #FFF , 101vw 353vh #FFF , 83vw 184vh #FFF , 50vw 360vh #FFF , 194vw 159vh #FFF , 136vw 360vh #FFF , 162vw 88vh #FFF , 143vw 54vh #FFF , 25vw 65vh #FFF , 191vw 373vh #FFF , 104vw 206vh #FFF , 73vw 155vh #FFF , 37vw 270vh #FFF , 137vw 331vh #FFF , 148vw 310vh #FFF , 152vw 141vh #FFF , 22vw 399vh #FFF , 61vw 148vh #FFF , 110vw 232vh #FFF , 26vw 215vh #FFF , 109vw 394vh #FFF , 13vw 163vh #FFF , 165vw 300vh #FFF , 169vw 60vh #FFF , 61vw 368vh #FFF , 111vw 381vh #FFF , 147vw 178vh #FFF , 143vw 271vh #FFF , 200vw 167vh #FFF , 39vw 371vh #FFF , 164vw 141vh #FFF , 23vw 262vh #FFF , 98vw 393vh #FFF , 46vw 295vh #FFF , 8vw 311vh #FFF , 31vw 312vh #FFF , 53vw 122vh #FFF , 133vw 93vh #FFF , 105vw 158vh #FFF , 5vw 55vh #FFF , 89vw 217vh #FFF , 164vw 51vh #FFF , 174vw 235vh #FFF , 82vw 19vh #FFF , 98vw 294vh #FFF , 76vw 162vh #FFF , 27vw 278vh #FFF , 147vw 206vh #FFF , 198vw 291vh #FFF , 20vw 239vh #FFF , 73vw 362vh #FFF , 124vw 52vh #FFF , 97vw 284vh #FFF , 126vw 113vh #FFF , 94vw 80vh #FFF , 30vw 93vh #FFF , 36vw 279vh #FFF , 63vw 120vh #FFF , 175vw 290vh #FFF , 115vw 30vh #FFF , 189vw 185vh #FFF , 81vw 212vh #FFF , 102vw 133vh #FFF , 32vw 218vh #FFF , 34vw 16vh #FFF , 82vw 255vh #FFF , 81vw 60vh #FFF , 82vw 298vh #FFF , 30vw 355vh #FFF , 148vw 302vh #FFF , 105vw 394vh #FFF , 130vw 16vh #FFF , 127vw 22vh #FFF , 123vw 222vh #FFF , 51vw 48vh #FFF , 101vw 126vh #FFF , 169vw 65vh #FFF , 135vw 284vh #FFF , 77vw 31vh #FFF , 155vw 190vh #FFF , 63vw 345vh #FFF , 145vw 234vh #FFF , 165vw 78vh #FFF , 19vw 329vh #FFF , 195vw 337vh #FFF , 139vw 382vh #FFF , 81vw 13vh #FFF , 114vw 175vh #FFF , 18vw 76vh #FFF , 86vw 336vh #FFF , 194vw 90vh #FFF , 148vw 245vh #FFF , 103vw 320vh #FFF , 123vw 274vh #FFF , 20vw 222vh #FFF , 184vw 399vh #FFF , 119vw 232vh #FFF , 179vw 373vh #FFF , 98vw 323vh #FFF , 44vw 116vh #FFF , 31vw 266vh #FFF , 163vw 76vh #FFF , 47vw 252vh #FFF , 183vw 3vh #FFF , 31vw 364vh #FFF , 7vw 67vh #FFF , 143vw 270vh #FFF , 4vw 190vh #FFF , 152vw 43vh #FFF , 126vw 281vh #FFF , 67vw 199vh #FFF , 118vw 376vh #FFF , 89vw 5vh #FFF , 136vw 236vh #FFF , 26vw 195vh #FFF , 157vw 133vh #FFF , 107vw 287vh #FFF , 167vw 117vh #FFF , 51vw 204vh #FFF , 82vw 301vh #FFF , 51vw 197vh #FFF , 193vw 153vh #FFF , 134vw 16vh #FFF , 117vw 152vh #FFF , 32vw 106vh #FFF , 58vw 368vh #FFF , 164vw 247vh #FFF , 55vw 236vh #FFF , 145vw 243vh #FFF , 164vw 364vh #FFF , 165vw 30vh #FFF , 19vw 66vh #FFF , 183vw 379vh #FFF , 153vw 249vh #FFF , 199vw 178vh #FFF , 156vw 193vh #FFF , 23vw 72vh #FFF , 139vw 43vh #FFF , 118vw 178vh #FFF , 177vw 206vh #FFF , 174vw 186vh #FFF , 22vw 117vh #FFF , 120vw 7vh #FFF , 31vw 289vh #FFF , 40vw 186vh #FFF , 25vw 95vh #FFF , 190vw 4vh #FFF , 107vw 380vh #FFF , 26vw 113vh #FFF , 147vw 200vh #FFF , 185vw 343vh #FFF , 124vw 207vh #FFF , 53vw 277vh #FFF , 149vw 159vh #FFF , 56vw 126vh #FFF , 94vw 329vh #FFF , 11vw 346vh #FFF , 94vw 162vh #FFF , 20vw 347vh #FFF , 191vw 272vh #FFF , 121vw 61vh #FFF , 16vw 165vh #FFF , 194vw 125vh #FFF , 101vw 53vh #FFF , 105vw 176vh #FFF , 95vw 208vh #FFF , 195vw 343vh #FFF , 46vw 237vh #FFF , 119vw 341vh #FFF , 155vw 230vh #FFF , 144vw 322vh #FFF , 146vw 399vh #FFF , 92vw 275vh #FFF , 42vw 147vh #FFF , 24vw 362vh #FFF , 29vw 295vh #FFF , 156vw 223vh #FFF , 27vw 305vh #FFF , 4vw 368vh #FFF , 4vw 241vh #FFF , 101vw 400vh #FFF , 149vw 357vh #FFF , 116vw 106vh #FFF , 40vw 171vh #FFF , 73vw 354vh #FFF , 135vw 7vh #FFF , 70vw 363vh #FFF , 102vw 144vh #FFF , 71vw 99vh #FFF , 115vw 337vh #FFF , 166vw 114vh #FFF , 15vw 183vh #FFF , 74vw 309vh #FFF , 169vw 290vh #FFF , 56vw 158vh #FFF , 171vw 273vh #FFF , 25vw 107vh #FFF , 126vw 330vh #FFF , 14vw 365vh #FFF , 25vw 183vh #FFF , 129vw 145vh #FFF , 81vw 149vh #FFF , 34vw 354vh #FFF , 80vw 119vh #FFF , 94vw 86vh #FFF , 176vw 3vh #FFF , 121vw 205vh #FFF , 182vw 199vh #FFF , 196vw 126vh #FFF , 136vw 20vh #FFF , 27vw 75vh #FFF , 196vw 307vh #FFF , 118vw 101vh #FFF , 134vw 6vh #FFF , 140vw 172vh #FFF , 110vw 104vh #FFF , 94vw 388vh #FFF , 154vw 291vh #FFF , 151vw 155vh #FFF , 63vw 184vh #FFF , 123vw 39vh #FFF , 13vw 4vh #FFF , 61vw 177vh #FFF , 100vw 115vh #FFF , 39vw 10vh #FFF , 66vw 292vh #FFF , 140vw 20vh #FFF , 94vw 236vh #FFF , 44vw 361vh #FFF , 167vw 130vh #FFF , 52vw 390vh #FFF , 123vw 50vh #FFF , 140vw 306vh #FFF , 67vw 58vh #FFF , 89vw 321vh #FFF , 80vw 113vh #FFF , 36vw 26vh #FFF , 11vw 231vh #FFF , 200vw 36vh #FFF , 29vw 35vh #FFF , 135vw 1vh #FFF , 123vw 246vh #FFF , 93vw 45vh #FFF , 123vw 68vh #FFF , 96vw 235vh #FFF , 119vw 83vh #FFF , 31vw 209vh #FFF , 48vw 345vh #FFF , 177vw 171vh #FFF , 60vw 244vh #FFF , 177vw 196vh #FFF , 72vw 20vh #FFF , 79vw 327vh #FFF , 16vw 128vh #FFF , 66vw 341vh #FFF , 53vw 54vh #FFF , 200vw 46vh #FFF , 76vw 283vh #FFF , 1vw 195vh #FFF , 80vw 394vh #FFF , 25vw 162vh #FFF , 146vw 300vh #FFF , 60vw 298vh #FFF , 88vw 54vh #FFF , 159vw 156vh #FFF , 158vw 260vh #FFF , 6vw 190vh #FFF , 72vw 75vh #FFF , 92vw 17vh #FFF , 66vw 261vh #FFF , 140vw 125vh #FFF , 53vw 114vh #FFF , 136vw 86vh #FFF , 158vw 380vh #FFF , 182vw 88vh #FFF , 26vw 324vh #FFF , 66vw 230vh #FFF , 141vw 8vh #FFF , 37vw 152vh #FFF , 90vw 25vh #FFF , 15vw 209vh #FFF , 196vw 267vh #FFF , 78vw 163vh #FFF , 152vw 169vh #FFF , 3vw 167vh #FFF , 116vw 375vh #FFF , 71vw 162vh #FFF , 103vw 184vh #FFF , 159vw 262vh #FFF , 1vw 94vh #FFF , 174vw 147vh #FFF , 144vw 42vh #FFF , 113vw 325vh #FFF , 188vw 64vh #FFF , 171vw 384vh #FFF , 23vw 116vh #FFF , 11vw 358vh #FFF , 122vw 316vh #FFF; }

#stars-2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 19vw 300vh #FFF , 143vw 302vh #FFF , 103vw 18vh #FFF , 98vw 325vh #FFF , 78vw 266vh #FFF , 61vw 126vh #FFF , 154vw 397vh #FFF , 131vw 339vh #FFF , 123vw 266vh #FFF , 60vw 132vh #FFF , 145vw 289vh #FFF , 65vw 178vh #FFF , 24vw 125vh #FFF , 134vw 41vh #FFF , 82vw 230vh #FFF , 30vw 143vh #FFF , 107vw 173vh #FFF , 27vw 375vh #FFF , 68vw 33vh #FFF , 196vw 104vh #FFF , 6vw 103vh #FFF , 138vw 284vh #FFF , 20vw 342vh #FFF , 165vw 276vh #FFF , 157vw 138vh #FFF , 43vw 334vh #FFF , 60vw 66vh #FFF , 194vw 341vh #FFF , 112vw 276vh #FFF , 198vw 138vh #FFF , 176vw 32vh #FFF , 108vw 142vh #FFF , 136vw 63vh #FFF , 113vw 315vh #FFF , 189vw 371vh #FFF , 166vw 354vh #FFF , 16vw 73vh #FFF , 128vw 56vh #FFF , 110vw 186vh #FFF , 159vw 21vh #FFF , 129vw 29vh #FFF , 80vw 54vh #FFF , 114vw 115vh #FFF , 175vw 71vh #FFF , 60vw 286vh #FFF , 9vw 135vh #FFF , 139vw 147vh #FFF , 6vw 300vh #FFF , 119vw 332vh #FFF , 10vw 106vh #FFF , 72vw 305vh #FFF , 129vw 323vh #FFF , 154vw 219vh #FFF , 82vw 28vh #FFF , 193vw 350vh #FFF , 178vw 13vh #FFF , 138vw 370vh #FFF , 35vw 138vh #FFF , 57vw 313vh #FFF , 71vw 325vh #FFF , 126vw 337vh #FFF , 104vw 209vh #FFF , 83vw 135vh #FFF , 124vw 110vh #FFF , 158vw 331vh #FFF , 96vw 246vh #FFF , 28vw 144vh #FFF , 55vw 150vh #FFF , 153vw 333vh #FFF , 195vw 244vh #FFF , 79vw 334vh #FFF , 136vw 357vh #FFF , 114vw 47vh #FFF , 184vw 243vh #FFF , 186vw 127vh #FFF , 76vw 50vh #FFF , 194vw 84vh #FFF , 52vw 191vh #FFF , 187vw 59vh #FFF , 66vw 283vh #FFF , 133vw 368vh #FFF , 171vw 23vh #FFF , 79vw 257vh #FFF , 55vw 279vh #FFF , 154vw 322vh #FFF , 48vw 13vh #FFF , 14vw 63vh #FFF , 9vw 213vh #FFF , 58vw 93vh #FFF , 172vw 112vh #FFF , 25vw 27vh #FFF , 175vw 48vh #FFF , 179vw 363vh #FFF , 13vw 201vh #FFF , 159vw 326vh #FFF , 18vw 396vh #FFF , 19vw 301vh #FFF , 8vw 218vh #FFF , 66vw 133vh #FFF , 38vw 15vh #FFF , 141vw 298vh #FFF , 34vw 302vh #FFF , 67vw 234vh #FFF , 53vw 101vh #FFF , 155vw 256vh #FFF , 111vw 209vh #FFF , 76vw 248vh #FFF , 113vw 77vh #FFF , 77vw 279vh #FFF , 12vw 9vh #FFF , 46vw 345vh #FFF , 137vw 128vh #FFF , 177vw 349vh #FFF , 26vw 367vh #FFF , 135vw 399vh #FFF , 39vw 214vh #FFF , 181vw 397vh #FFF , 195vw 91vh #FFF , 77vw 273vh #FFF , 69vw 278vh #FFF , 18vw 98vh #FFF , 95vw 373vh #FFF , 189vw 292vh #FFF , 169vw 136vh #FFF , 124vw 44vh #FFF , 112vw 273vh #FFF , 183vw 153vh #FFF , 14vw 354vh #FFF , 56vw 40vh #FFF , 195vw 247vh #FFF , 128vw 33vh #FFF , 196vw 388vh #FFF , 44vw 311vh #FFF , 189vw 311vh #FFF , 87vw 122vh #FFF , 96vw 381vh #FFF , 84vw 254vh #FFF , 196vw 256vh #FFF , 88vw 331vh #FFF , 126vw 254vh #FFF , 15vw 171vh #FFF , 149vw 53vh #FFF , 47vw 82vh #FFF , 157vw 334vh #FFF , 171vw 82vh #FFF , 142vw 306vh #FFF , 139vw 243vh #FFF , 130vw 65vh #FFF , 55vw 187vh #FFF , 83vw 208vh #FFF , 28vw 113vh #FFF , 194vw 46vh #FFF , 15vw 102vh #FFF , 197vw 54vh #FFF , 44vw 387vh #FFF , 33vw 161vh #FFF , 111vw 212vh #FFF , 130vw 111vh #FFF , 145vw 46vh #FFF , 34vw 271vh #FFF , 143vw 390vh #FFF , 89vw 204vh #FFF , 166vw 199vh #FFF , 115vw 332vh #FFF , 127vw 180vh #FFF , 100vw 266vh #FFF , 51vw 367vh #FFF , 17vw 215vh #FFF , 8vw 96vh #FFF , 37vw 342vh #FFF , 46vw 163vh #FFF , 153vw 68vh #FFF , 82vw 381vh #FFF , 184vw 359vh #FFF , 131vw 264vh #FFF , 105vw 85vh #FFF , 55vw 24vh #FFF , 151vw 214vh #FFF , 146vw 121vh #FFF , 199vw 310vh #FFF , 17vw 218vh #FFF , 11vw 362vh #FFF , 140vw 267vh #FFF , 132vw 340vh #FFF , 39vw 277vh #FFF , 5vw 281vh #FFF , 168vw 43vh #FFF , 151vw 340vh #FFF , 193vw 185vh #FFF , 4vw 249vh #FFF , 33vw 3vh #FFF , 92vw 189vh #FFF , 123vw 324vh #FFF , 105vw 368vh #FFF , 130vw 93vh #FFF , 134vw 233vh #FFF , 111vw 314vh #FFF , 70vw 215vh #FFF , 170vw 310vh #FFF , 64vw 30vh #FFF;
  animation: animateStars 100s linear infinite; }
  #stars-2:after {
    content: " ";
    position: absolute;
    top: 100vh;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 163vw 42vh #FFF , 24vw 39vh #FFF , 78vw 224vh #FFF , 77vw 176vh #FFF , 139vw 261vh #FFF , 110vw 42vh #FFF , 26vw 333vh #FFF , 19vw 160vh #FFF , 26vw 233vh #FFF , 151vw 125vh #FFF , 57vw 231vh #FFF , 170vw 264vh #FFF , 187vw 102vh #FFF , 157vw 358vh #FFF , 170vw 390vh #FFF , 200vw 115vh #FFF , 188vw 113vh #FFF , 81vw 325vh #FFF , 19vw 294vh #FFF , 24vw 234vh #FFF , 57vw 127vh #FFF , 2vw 233vh #FFF , 154vw 272vh #FFF , 172vw 146vh #FFF , 1vw 74vh #FFF , 147vw 361vh #FFF , 105vw 33vh #FFF , 88vw 294vh #FFF , 130vw 393vh #FFF , 43vw 311vh #FFF , 194vw 39vh #FFF , 193vw 145vh #FFF , 197vw 363vh #FFF , 108vw 363vh #FFF , 172vw 395vh #FFF , 41vw 274vh #FFF , 145vw 139vh #FFF , 111vw 385vh #FFF , 9vw 353vh #FFF , 63vw 67vh #FFF , 40vw 336vh #FFF , 192vw 351vh #FFF , 85vw 4vh #FFF , 106vw 344vh #FFF , 177vw 205vh #FFF , 25vw 204vh #FFF , 62vw 259vh #FFF , 19vw 18vh #FFF , 139vw 223vh #FFF , 119vw 109vh #FFF , 90vw 393vh #FFF , 61vw 308vh #FFF , 127vw 25vh #FFF , 137vw 239vh #FFF , 30vw 58vh #FFF , 142vw 316vh #FFF , 134vw 337vh #FFF , 138vw 305vh #FFF , 166vw 144vh #FFF , 119vw 336vh #FFF , 200vw 46vh #FFF , 156vw 380vh #FFF , 179vw 159vh #FFF , 178vw 200vh #FFF , 192vw 271vh #FFF , 119vw 73vh #FFF , 45vw 12vh #FFF , 43vw 89vh #FFF , 118vw 156vh #FFF , 11vw 258vh #FFF , 90vw 224vh #FFF , 191vw 331vh #FFF , 43vw 130vh #FFF , 43vw 137vh #FFF , 132vw 52vh #FFF , 183vw 297vh #FFF , 55vw 195vh #FFF , 186vw 296vh #FFF , 189vw 254vh #FFF , 103vw 26vh #FFF , 20vw 272vh #FFF , 180vw 259vh #FFF , 200vw 246vh #FFF , 115vw 374vh #FFF , 89vw 399vh #FFF , 178vw 71vh #FFF , 120vw 282vh #FFF , 118vw 83vh #FFF , 152vw 285vh #FFF , 200vw 314vh #FFF , 186vw 36vh #FFF , 1vw 111vh #FFF , 131vw 238vh #FFF , 178vw 323vh #FFF , 30vw 127vh #FFF , 155vw 306vh #FFF , 50vw 350vh #FFF , 46vw 266vh #FFF , 7vw 261vh #FFF , 168vw 6vh #FFF , 56vw 118vh #FFF , 61vw 66vh #FFF , 111vw 73vh #FFF , 120vw 235vh #FFF , 57vw 28vh #FFF , 124vw 332vh #FFF , 194vw 34vh #FFF , 59vw 74vh #FFF , 60vw 382vh #FFF , 170vw 93vh #FFF , 20vw 167vh #FFF , 187vw 265vh #FFF , 71vw 170vh #FFF , 106vw 393vh #FFF , 16vw 218vh #FFF , 104vw 26vh #FFF , 145vw 226vh #FFF , 57vw 393vh #FFF , 127vw 368vh #FFF , 13vw 250vh #FFF , 116vw 4vh #FFF , 10vw 366vh #FFF , 81vw 142vh #FFF , 119vw 315vh #FFF , 165vw 369vh #FFF , 119vw 17vh #FFF , 127vw 196vh #FFF , 127vw 257vh #FFF , 20vw 222vh #FFF , 167vw 376vh #FFF , 125vw 152vh #FFF , 72vw 29vh #FFF , 79vw 294vh #FFF , 125vw 22vh #FFF , 176vw 323vh #FFF , 151vw 111vh #FFF , 131vw 79vh #FFF , 24vw 44vh #FFF , 88vw 100vh #FFF , 142vw 80vh #FFF , 26vw 49vh #FFF , 116vw 203vh #FFF , 126vw 332vh #FFF , 87vw 66vh #FFF , 143vw 336vh #FFF , 121vw 71vh #FFF , 95vw 338vh #FFF , 164vw 76vh #FFF , 123vw 280vh #FFF , 120vw 80vh #FFF , 47vw 364vh #FFF , 14vw 389vh #FFF , 33vw 220vh #FFF , 69vw 365vh #FFF , 36vw 246vh #FFF , 178vw 334vh #FFF , 27vw 73vh #FFF , 49vw 176vh #FFF , 139vw 319vh #FFF , 145vw 158vh #FFF , 16vw 343vh #FFF , 142vw 333vh #FFF , 53vw 12vh #FFF , 190vw 182vh #FFF , 64vw 138vh #FFF , 132vw 258vh #FFF , 145vw 241vh #FFF , 91vw 117vh #FFF , 153vw 124vh #FFF , 173vw 228vh #FFF , 159vw 53vh #FFF , 85vw 168vh #FFF , 183vw 83vh #FFF , 124vw 297vh #FFF , 31vw 129vh #FFF , 68vw 163vh #FFF , 125vw 155vh #FFF , 157vw 335vh #FFF , 99vw 4vh #FFF , 17vw 259vh #FFF , 136vw 16vh #FFF , 18vw 61vh #FFF , 117vw 117vh #FFF , 171vw 26vh #FFF , 63vw 230vh #FFF , 108vw 214vh #FFF , 110vw 156vh #FFF , 82vw 192vh #FFF , 137vw 101vh #FFF , 197vw 246vh #FFF , 119vw 240vh #FFF , 168vw 116vh #FFF , 84vw 6vh #FFF , 70vw 154vh #FFF , 181vw 133vh #FFF , 198vw 113vh #FFF , 34vw 329vh #FFF , 191vw 109vh #FFF , 156vw 47vh #FFF , 53vw 183vh #FFF; }

#stars-3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 54vw 330vh #FFF , 7vw 205vh #FFF , 93vw 115vh #FFF , 130vw 136vh #FFF , 172vw 361vh #FFF , 96vw 306vh #FFF , 66vw 390vh #FFF , 149vw 34vh #FFF , 100vw 217vh #FFF , 3vw 377vh #FFF , 104vw 273vh #FFF , 50vw 89vh #FFF , 18vw 306vh #FFF , 2vw 190vh #FFF , 105vw 75vh #FFF , 92vw 108vh #FFF , 168vw 30vh #FFF , 101vw 354vh #FFF , 144vw 236vh #FFF , 23vw 319vh #FFF , 33vw 295vh #FFF , 47vw 142vh #FFF , 92vw 91vh #FFF , 167vw 205vh #FFF , 147vw 303vh #FFF , 75vw 112vh #FFF , 33vw 261vh #FFF , 160vw 385vh #FFF , 142vw 91vh #FFF , 160vw 151vh #FFF , 136vw 207vh #FFF , 88vw 246vh #FFF , 164vw 151vh #FFF , 94vw 248vh #FFF , 180vw 89vh #FFF , 67vw 184vh #FFF , 160vw 2vh #FFF , 145vw 258vh #FFF , 168vw 275vh #FFF , 116vw 284vh #FFF , 82vw 353vh #FFF , 66vw 205vh #FFF , 115vw 234vh #FFF , 35vw 11vh #FFF , 144vw 13vh #FFF , 111vw 311vh #FFF , 62vw 199vh #FFF , 61vw 383vh #FFF , 8vw 10vh #FFF , 136vw 151vh #FFF , 135vw 211vh #FFF , 183vw 142vh #FFF , 18vw 125vh #FFF , 178vw 304vh #FFF , 135vw 374vh #FFF , 14vw 144vh #FFF , 24vw 225vh #FFF , 124vw 36vh #FFF , 35vw 94vh #FFF , 108vw 150vh #FFF , 114vw 230vh #FFF , 140vw 191vh #FFF , 136vw 203vh #FFF , 117vw 280vh #FFF , 199vw 86vh #FFF , 126vw 52vh #FFF , 104vw 377vh #FFF , 120vw 143vh #FFF , 55vw 79vh #FFF , 25vw 376vh #FFF , 199vw 120vh #FFF , 179vw 367vh #FFF , 49vw 181vh #FFF , 96vw 60vh #FFF , 118vw 205vh #FFF , 131vw 137vh #FFF , 176vw 207vh #FFF , 92vw 86vh #FFF , 138vw 147vh #FFF , 5vw 185vh #FFF , 72vw 228vh #FFF , 171vw 62vh #FFF , 108vw 123vh #FFF , 33vw 331vh #FFF , 159vw 195vh #FFF , 13vw 34vh #FFF , 48vw 196vh #FFF , 160vw 332vh #FFF , 40vw 321vh #FFF , 76vw 63vh #FFF , 79vw 97vh #FFF , 133vw 343vh #FFF , 199vw 21vh #FFF , 105vw 98vh #FFF , 70vw 301vh #FFF , 146vw 115vh #FFF , 65vw 249vh #FFF , 24vw 191vh #FFF , 129vw 323vh #FFF , 15vw 300vh #FFF;
  animation: animateStars 150s linear infinite; }
  #stars-3:after {
    content: " ";
    position: absolute;
    top: 100vh;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 69vw 270vh #FFF , 31vw 326vh #FFF , 24vw 305vh #FFF , 34vw 306vh #FFF , 86vw 52vh #FFF , 180vw 205vh #FFF , 178vw 120vh #FFF , 170vw 165vh #FFF , 70vw 149vh #FFF , 155vw 322vh #FFF , 116vw 141vh #FFF , 12vw 247vh #FFF , 175vw 83vh #FFF , 54vw 37vh #FFF , 16vw 109vh #FFF , 66vw 85vh #FFF , 94vw 278vh #FFF , 12vw 230vh #FFF , 155vw 191vh #FFF , 198vw 223vh #FFF , 189vw 361vh #FFF , 12vw 118vh #FFF , 98vw 158vh #FFF , 37vw 72vh #FFF , 36vw 275vh #FFF , 187vw 334vh #FFF , 101vw 331vh #FFF , 168vw 270vh #FFF , 109vw 60vh #FFF , 159vw 349vh #FFF , 132vw 197vh #FFF , 193vw 71vh #FFF , 89vw 130vh #FFF , 195vw 292vh #FFF , 141vw 301vh #FFF , 55vw 166vh #FFF , 147vw 262vh #FFF , 85vw 390vh #FFF , 185vw 310vh #FFF , 189vw 184vh #FFF , 134vw 230vh #FFF , 41vw 281vh #FFF , 11vw 63vh #FFF , 10vw 89vh #FFF , 101vw 149vh #FFF , 94vw 65vh #FFF , 114vw 355vh #FFF , 34vw 125vh #FFF , 58vw 239vh #FFF , 55vw 351vh #FFF , 170vw 66vh #FFF , 118vw 223vh #FFF , 19vw 22vh #FFF , 104vw 319vh #FFF , 88vw 306vh #FFF , 125vw 151vh #FFF , 116vw 83vh #FFF , 28vw 283vh #FFF , 87vw 174vh #FFF , 108vw 41vh #FFF , 170vw 124vh #FFF , 45vw 328vh #FFF , 68vw 280vh #FFF , 67vw 267vh #FFF , 60vw 154vh #FFF , 45vw 24vh #FFF , 133vw 16vh #FFF , 167vw 360vh #FFF , 118vw 277vh #FFF , 181vw 205vh #FFF , 75vw 383vh #FFF , 166vw 359vh #FFF , 70vw 26vh #FFF , 33vw 218vh #FFF , 168vw 167vh #FFF , 121vw 184vh #FFF , 34vw 235vh #FFF , 122vw 207vh #FFF , 78vw 380vh #FFF , 191vw 76vh #FFF , 147vw 163vh #FFF , 115vw 84vh #FFF , 7vw 27vh #FFF , 130vw 252vh #FFF , 151vw 124vh #FFF , 137vw 7vh #FFF , 34vw 230vh #FFF , 134vw 357vh #FFF , 182vw 83vh #FFF , 135vw 134vh #FFF , 196vw 168vh #FFF , 71vw 384vh #FFF , 164vw 313vh #FFF , 104vw 114vh #FFF , 146vw 94vh #FFF , 30vw 208vh #FFF , 23vw 364vh #FFF , 65vw 9vh #FFF , 7vw 344vh #FFF , 117vw 214vh #FFF; }

/* Header & Footer */
header {
  position: relative;
  z-index: 1; }
  header #logo {
    display: block;
    margin: 0 auto;
    max-width: 90vw;
    max-height: 35vh;
    animation: floatDown 4s ease; }

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 25%;
  background: linear-gradient(to right, transparent, black);
  font-size: .9em;
  padding: .3em 1em;
  text-align: right; }
  @media (max-width: 768px) {
    footer {
      width: 100%; } }

/* Cartridge */
#cartridge {
  position: absolute;
  bottom: 5%;
  right: 5%;
  width: 10%;
  cursor: pointer;
  opacity: 0;
  z-index: 3;
  animation: verticalFloat 3s ease infinite, floatUp 3s ease forwards;
  animation-delay: 5s, 2.5s; }
  #cartridge:hover {
    animation-play-state: paused; }
    #cartridge:hover:after {
      content: "Want to play on real hardware? Click to download the NES ROM developed by KHAN Games!";
      font-family: 'Patrick Hand SC', cursive;
      position: absolute;
      top: -100px;
      right: 0;
      animation: floatUp .5s forwards ease;
      width: 200px;
      z-index: -1; }
  #cartridge img {
    display: block;
    width: 100%;
    transition: transform .5s ease; }
    #cartridge img:hover {
      transform: scale(1.2);
      animation-play-state: paused; }

/* Options */
#options {
  margin-bottom: 1em;
  font-size: 1.5em;
  color: #ff00e4;
  cursor: default;
  opacity: 0;
  animation: turnOn 1s ease forwards;
  animation-delay: 3.5s; }
  #options input[type=button] {
    text-transform: uppercase;
    background: none;
    border: none;
    color: #ff00e4;
    text-decoration: none;
    font-style: italic;
    font-size: 1em;
    cursor: pointer;
    transition: color .2s ease, opacity .2s ease; }
    #options input[type=button]:disabled {
      opacity: 0.25;
      cursor: default; }
    #options input[type=button]:not(:disabled):hover {
      color: #00baff; }
    #options input[type=button].active {
      color: #00baff;
      cursor: default; }
    @media (max-width: 768px) {
      #options input[type=button] {
        font-size: .8em; } }

/* Wrapper (Game, Leaderboard, About) */
.wrapper {
  position: relative;
  width: 100%; }
  .wrapper section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: opacity 1s ease, transform 1s ease;
    /* About */
    /* Game */
    /* Leaderboard */ }
    .wrapper section:not(.active) {
      transform: translateY(100%);
      opacity: 0; }
    .wrapper section#about {
      width: 1024px;
      max-width: 95%;
      margin: 0 auto;
      position: relative;
      text-align: left;
      pointer-events: none; }
    .wrapper section#game {
      z-index: 3; }
      .wrapper section#game #timer {
        font-size: 7vw;
        opacity: 0;
        animation: turnOn 1s ease forwards;
        animation-delay: 4s; }
      .wrapper section#game #score {
        font-size: 6vw;
        opacity: 0;
        animation: turnOn 1s ease forwards;
        animation-delay: 4.5s; }
      .wrapper section#game #username input[type=text] {
        background: transparent;
        text-align: center;
        border: 0;
        color: white;
        font-size: 2em; }
        .wrapper section#game #username input[type=text]:disabled {
          opacity: 0; }
      .wrapper section#game #errors {
        display: none;
        color: #ff00e4;
        font-size: 1.3em;
        animation: flash 3s linear infinite; }
      @media (max-width: 768px) {
        .wrapper section#game #timer {
          font-size: 12vw;
          margin-bottom: 10px; }
        .wrapper section#game #score {
          font-size: 10vw;
          margin-bottom: 10px; }
        .wrapper section#game #username input[type=text] {
          font-size: 8vw;
          width: 100%; }
        .wrapper section#game #tap {
          width: 100%; }
          .wrapper section#game #tap .tap-button {
            position: absolute;
            font-size: 2em;
            line-height: 2em;
            color: white;
            border: none;
            border-radius: 50%;
            padding: 0 .7em; }
            .wrapper section#game #tap .tap-button:first-of-type {
              left: 10%;
              background: #ff00e4;
              opacity: 0;
              animation: turnOn 1s ease forwards;
              animation-delay: 5s; }
            .wrapper section#game #tap .tap-button:last-of-type {
              right: 10%;
              background: #00baff;
              opacity: 0;
              animation: turnOn 1s ease forwards;
              animation-delay: 5.5s; } }
    .wrapper section#leaderboard table {
      display: block;
      margin: 0 auto;
      width: 250px; }
      .wrapper section#leaderboard table th, .wrapper section#leaderboard table td {
        text-align: left;
        text-transform: uppercase; }

#score-form-hidden {
  position: absolute;
  top: 0;
  left: -9999px; }

/*# sourceMappingURL=main.css.map */
