<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta property="og:title" content="I just scored {{ index }} on ShmupSpeed.com!" />
  <meta property="og:url" content="http://www.ShmupSpeed.com/score/{{ index }}" />
  <meta property="og:type" content="game" />
  {% if index <= 40 %}
  <meta property="og:description" content="My finger dexterity ain't what it used to be... Maybe you can do better? Click here to find out!" />
  {% endif %}
  {% if index > 40 and index <= 100 %}
  <meta property="og:description" content="These fingers are just getting warmed up! Can you beat me? Click here to try!" />
  {% endif %}
  {% if index > 100 and index <= 140 %}
  <meta property="og:description" content="I've got the quickest fingers in the west, think you can keep up? Click here to challenge me on the leaderboard!" />
  {% endif %}
  {% if index > 140 and index <= 200 %}
  <meta property="og:description" content="Hey ladies, I've got finger dexterity fo' days. Any faster and I'd probably be cheating! I don't even know if it's possible to beat my score, so you probably shouldn't even try..." />
  {% endif %}
  {% if index > 200 %}
  <meta property="og:description" content="Ok this is getting ridiculous. My score is high enough that either the dev has screwed up, or I'm cheating! If you think you can do better (is this even possible?) then click here to try!" />
  {% endif %}
  <meta property="og:image" content="{{ absolute_url(asset('img/og_image.jpg')) }}" />

  <meta http-equiv="refresh" content="0;URL='/'" />
</head>
<body></body>
</html>
